<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bean&Brew</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('customer.customer_list') }}">Customers</a>
        <a href="{{ url_for('orders.order_list') }}">Orders</a>
        <a href="{{ url_for('inventory.inventory_list') }}">Inventory</a>
        <a href="{{ url_for('analytics.analytics_dashboard') }}">Analytics</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>